---
# This role prevents accidental or intentional execution of CI-only playbooks
# from a local machine.

- name: "CI Guard: Simple check for CI environment"
  ansible.builtin.assert:
    that:
      - lookup('env', 'CI') == "true"
      - lookup('env', 'GITLAB_CI') == "true"
    fail_msg: "This playbook must be executed in GitLab CI/CD pipeline"
