stages:
  - infrastructure
  - application

before_script:
  - mkdir -p ~/.ssh
  - echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_ed25519
  - chmod 600 ~/.ssh/id_ed25519
  - echo -e "Host *\n\tStrictHostKeyChecking no\n" > ~/.ssh/config
  - echo "$ANSIBLE_VAULT_PASSWORD" > ./ansible/.ansible_vault
  - chmod 600 ./ansible/.ansible_vault
  - mkdir -p ~/.docker
  - echo "$DOCKER_AUTH_CONFIG" > $HOME/.docker/config.json
  - export ANSIBLE_CONFIG="$CI_PROJECT_DIR/ansible/ansible.cfg"
  - export GITLAB_JOB_TOKEN="$CI_JOB_TOKEN"

provision:
  stage: infrastructure
  image: $CI_REGISTRY/okoteka/oko-deploy-ci-image:latest
  script:
    - task ansible:configure-server
  tags:
    - docker
  when: manual

deploy:
  stage: application
  image: $CI_REGISTRY/okoteka/oko-deploy-ci-image-internal:latest
  script:
    - task ansible:deploy
  tags:
    - docker
  when: manual
