stages:
  - configure

configure_server:
  stage: configure
  image: $CI_REGISTRY/okoteka/oko-deploy-ci-image:latest
  script:
    - just -f ansible/Justfile configure-server
  tags:
    - docker
  when: manual
