stages:
  - infrastructure
  - application

before_script:
  - mkdir -p ~/.ssh
  - echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_ed25519
  - chmod 600 ~/.ssh/id_ed25519
  - echo -e "Host *\n\tStrictHostKeyChecking no\n" > ~/.ssh/config
  - export ANSIBLE_CONFIG="$CI_PROJECT_DIR/ansible/ansible.cfg"
  - mkdir -p /tmp/sops
  - echo "$SOPS_CI_PRIVATE_KEY" > /tmp/sops/key.txt.age
  - chmod 600 /tmp/sops/key.txt.age
  - export SOPS_AGE_KEY_FILE="/tmp/sops/key.txt.age"

provision:
  stage: infrastructure
  image: $CI_REGISTRY/okoteka/internal-images/ansible:latest
  script:
    - task ansible:provision-server
  tags:
    - runner-docker
  when: manual

deploy:
  stage: application
  image: $CI_REGISTRY/okoteka/internal-images/ansible:latest
  script:
    - task ansible:deploy
  tags:
    - runner-docker

restart:
  stage: application
  image: $CI_REGISTRY/okoteka/internal-images/ansible:latest
  script:
    - task ansible:restart
  tags:
    - runner-docker
  when: manual
