---
- hosts: localhost
  connection: local
  gather_facts: false
  roles:
    - role: deploy
      vars:
        directory_dest: "{{ playbook_dir }}/../../build/"
        user: "{{ ansible_env.USER | default(lookup('env','USER')) }}"
