---
- hosts: localhost
  connection: local
  gather_facts: false
  roles:
    - role: deploy
      vars:
        directory: "{{ playbook_dir }}/../../compose/"
        user: "{{ ansible_env.USER | default(lookup('env','USER')) }}"
        compose_files:
          - "{{ playbook_dir }}/../../compose/docker-compose.yaml"
          - "{{ playbook_dir }}/../../compose/docker-compose.o11y.yaml"
