services:
  db:
    image: postgres:18
    container_name: ${CONTAINER_PREFIX}-db
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql
    ports:
      - "${DB_PORT_HOST}:${DB_PORT}"

volumes:
  postgres_data:
