server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: docker

    static_configs:
      - targets:
          - localhost
        labels:
          job: docker
          host: ${HOSTNAME}
          __path__: /var/lib/docker/containers/*/*-json.log

    pipeline_stages:
      - json:
          expressions:
            log: log
            stream: stream
            time: time
            tag: attrs.tag
            compose_project: attrs."com.docker.compose.project"
            compose_service: attrs."com.docker.compose.service"

      - regex:
          source: filename
          expression: '/var/lib/docker/containers/(?P<container_id>[a-f0-9]{12})'

      - labels:
          container_id:
          tag:
          compose_project:
          compose_service:
          stream:

      - match:
          selector: '{compose_project!="${COMPOSE_PROJECT_NAME}"}'
          action: drop

      - output:
          source: log
