---
- name: Render DB env file
  template:
    src: .env.j2
    dest: "{{ directory | mandatory }}/.env"
    owner: "{{ user | mandatory }}"
    group: "{{ user | mandatory }}"
    mode: "0600"

- name: Upload compose files
  copy:
    src: "{{ item }}"
    dest: "{{ directory | mandatory }}/{{ item | basename }}"
    owner: "{{ user | mandatory }}"
    group: "{{ user | mandatory }}"
    mode: '0644'
  loop: "{{ compose_files | default([]) }}"

- name: Apply Docker Compose configurations
  community.docker.docker_compose_v2:
    project_src: "{{ directory | mandatory }}"
    files: >-
      {{
        compose_files | map('basename') | list
        if compose_files is defined
        else ['docker-compose.yaml']
      }}
    state: present
