---
- name: Ensure directory_dest exists
  ansible.builtin.file:
    path: "{{ directory_dest | mandatory }}"
    state: directory
    owner: "{{ user }}"
    group: "{{ user }}"
    mode: '0755'

- name: Render DB env file
  template:
    src: .env.j2
    dest: "{{ directory_dest | mandatory }}/.env"
    owner: "{{ user | mandatory }}"
    group: "{{ user | mandatory }}"
    mode: "0600"

- name: Upload compose directory_dest
  synchronize:
    src:  "{{ playbook_dir }}/../../compose/"
    dest: "{{ directory_dest | mandatory }}"
    recursive: yes
    delete: no
    rsync_opts:
      - "--chmod=Du=rwx,Dgo=rx,Fu=rw,Fgo=r"

- name: Set ownership on compose directory_dest
  file:
    path: "{{ directory_dest | mandatory }}"
    owner: "{{ user | mandatory }}"
    group: "{{ user | mandatory }}"
    recurse: yes

- name: Find docker-compose yaml files
  find:
    paths: "{{ directory_dest }}"
    patterns: "docker-compose*.yaml"
    file_type: file
  register: compose_files_found

- name: Wipe everything (containers + volumes)
  community.docker.docker_compose_v2:
    project_src: "{{ directory_dest }}"
    files: "{{ compose_files_found.files | map(attribute='path') | list }}"
    state: absent
    remove_volumes: yes
    remove_orphans: yes
  when: wipe_volumes | default(false) | bool

- name: Apply Docker Compose configurations
  community.docker.docker_compose_v2:
    project_src: "{{ directory_dest }}"
    files: "{{ compose_files_found.files | map(attribute='path') | list }}"
    state: present
    recreate: auto
    pull: always
    remove_orphans: yes
  when: compose_up | default(false) | bool

- name: Restart all services
  community.docker.docker_compose_v2:
    project_src: "{{ directory_dest }}"
    files: "{{ compose_files_found.files | map(attribute='path') | list }}"
    state: restarted
    pull: always
    remove_orphans: yes
  when: restart_services | default(false) | bool


